* {
    font-size: 18px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

header div#navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1.5rem 2.5rem 0 2.5rem;
}
header div#navbar p#logo {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #d2872c;
}
header div#navbar div#icon {
    cursor: pointer;
}
header div#navbar ul#link-group {
    display: none;
    list-style: none;
    padding-left: 1rem;
}
header div#navbar ul#link-group li {
    margin-top: 10px;
}
header div#navbar ul#link-group li a {
    text-decoration: none;
    color: #000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main div#img-container img {
    height: 200px;
    margin-top: 1.5rem;
}
main div#info-container {
    text-align: center;
    color: #766f68;
    width: 70%;
}
main div#info-container p#title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
main div#info-container p.text {
    margin-bottom: 1rem;
}
main div#info-container button {
    font-family: 'Roboto', sans-serif;
    background: #d2872c;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.8rem 5rem;
}
